* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.top-bar {
  background-color: #0074d9;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 50px solid #170acc;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #1D0B6C;
}

.nav-links {
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-align:left;
  color:black;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: #fff;
  text-shadow: 2px 2px 4px black;
}


